
dist
dist-ssr
.DS_Store
# Editor directories and files
.idea
lerna-debug.log*
*.local
# Local mesh-repair backups
*.log
logs
# Logs
*.njsproj
node_modules
npm-debug.log*
*.ntvs*
pnpm-debug.log*
__pycache__/
*.sln
*.source.glb
*.suo
*.sw?
.vscode/*
!.vscode/extensions.json
yarn-debug.log*
yarn-error.log*
